# Hello World Example
This notebook demonstrates how to use Markdown cells to document and explain Python code.

In [ ]:
print("Hello, World!")

Hello, World!

Hello, World!

This cell prints a greeting message to the output. Markdown cells like this are useful for explaining what your code does.

In [8]:
a = 5
b = "10"
c = 3+2j
print(type(a))
print(type(b))
print(type(c))
print(len(b))

<class 'int'>
<class 'str'>
<class 'complex'>
2

In [1]:
x , y , z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [2]:
x=y=z="Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [3]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

#Global Variable

In [7]:

def myfunc():
  global x
  x = "fantastic"
  


print("Python is " + x)

Python is fantastic

#count

In [ ]:
a = "12732"
b = int(a)    #in int we cannot use count function
print(a)
print(b)
print(type(a))
print(type(b))
c = a.count("2")
print(c)

12732
12732
<class 'str'>
<class 'int'>
2

## Unit 2

In [ ]:
a = 300
b = 33

#short hand if

In [15]:
a = 300
b = 33
if a>b: print("a is greater than b")

a is greater than b

In [12]:
a=2
b=300
print("A") if a>b else print("B")

B

In [16]:
a=30
b=20
if a>b:
    print(a)

30

In [17]:
a=300
b=300
print("A") if a>b else print("=") if a==b else print("B")

=

In [20]:
a=200
b=30
c=500

if a>b and c>a:
    print("Both conditions are true")

Both conditions are true

#not

In [21]:
a=33
b=200
if not a>b:
    print("a is not greater")

a is not greater

#Pass

In [8]:
a=5
b=8
if a>b:
    

#It will show error if we do not write anything after if statement but we can use "pass" statement to avoid error.

SyntaxError: incomplete input (223029066.py, line 6)

In [ ]:
a=5
b=8
if a>b:
    pass

#Match

In [1]:
day=4
match day:
    case 1:
        print("Monday")
    case 2:
        print("Tuesday")
    case 3:
        print("Wednesday")
    case 4:
        print("Thursday")
    case 5:
        print("Friday")
    case 6:
        print("Saturday")

Thursday

In [9]:
day=4
match day:
    case 1 | 2 | 3 | 4 | 5:
        print("Weekday")
    case 6 | 7:
        print("Weekend")

Weekday

In [6]:
month = 5
day = 5
match day:
    case 1 | 2 | 3 | 4 | 5 if month==5:
        print("Weekday")
    case 6 | 7:
        print("Weekend")

Weekday

#While loop

In [11]:
i=0
while i<6:
    print(i)
    i+=1

0
1
2
3
4
5

In [ ]:
a = 5
v = input("Enter a number between 1-10: ")  # Taking input from user
if v==a:
    print("You guessed it right!")

#Square of a number

In [ ]:
v = input("Enter a number to be squared : ")
a = int(v)
b = a**a
print("The square of the number is : ",b)

#Input two numbers and print their sum

In [ ]:
a = input("Enter first number : ")
b = input("Enter second number : ")
c = float(a)
d = float(b)
e = c+d
print("The sum of the two numbers is : ",e)

#Program to swap two numbers

In [1]:
a = input("Enter first number : ")
b = input("Enter second number : ")
x = a
a = b
b = x
print("After swaping : "a,b)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1372460735.py, line 6)

#Program to guess number

In [ ]:
a = 5
v = input("Enter a number to be guessed : ")
if v==a:
    print("You guessed it right!")

#Program to check if number is even or odd

In [ ]:
a = int(input("Enter a number : "))

print("The number is even") if a%2==0 else print("The number is odd")

#Covert celsious to fahrenheit

In [ ]:
a = float(input("Enter temperature in celsious : "))
b = (a*9/5)+32
print("The temperature in fahrenheit is : ",b)

#To check the type of variable

In [15]:
a = 20
b = '20'
c = 20.17
d = 1+3j
e = True
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'complex'>
<class 'bool'>

#Calculate SI

In [ ]:
p = float(input("Enter the principal amount : "))
r = float(input("Enter the rate of interest : "))
t = float(input("Enter the time in years : "))
SI = (p*r*t)/100
print("The Simple Interest is : ",SI)

KeyboardInterrupt: Interrupted by user

#Reverse of string

#continue and break

In [1]:
i = 1
while i<6:
    print(i)
    if i==3:
        break
    i+=1

1
2
3

In [3]:
i = 0
while i<6:
    i+=1
    if i==3:
        continue
    print(i)

1
2
4
5
6

In [12]:
i=1
while i<6:
    print(i)
    i+=1
else:
    print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

#for

In [4]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)
print(type(fruits))

apple
banana
cherry
<class 'list'>

In [5]:
for x in "apple":
    print(x)

a
p
p
l
e

In [6]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)
    if x=="banana":
        break

apple
banana

In [7]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x=="banana":
        break
    print(x)

apple

In [8]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [9]:
for x in range(2,6):
    print(x)

2
3
4
5

In [11]:
for x in range(2,30,3):
    print(x)

2
5
8
11
14
17
20
23
26
29

#for else

In [13]:
for x in range(6):
    print(x)
else:
    print("Finally finished!")

0
1
2
3
4
5
Finally finished!

#nested loop

In [14]:
a=["A","B","C"]
fruits = ["apple", "banana", "cherry"]
for x in a:
    for y in fruits:
        print(x,y)

A apple
A banana
A cherry
B apple
B banana
B cherry
C apple
C banana
C cherry

In [16]:
for x in [0,1,2,3]:
    pass

#List

In [ ]:
list1 = ["rohan" , 1 , 3]
print(list1)

#ordered , changeable, allows duplicate members

['rohan', 1, 3]

In [4]:
list1 = ["rohan" , 1 , 3 , "rohan" , "apple" ,"apple"]
print(list1)
print(len(list1))

['rohan', 1, 3, 'rohan', 'apple', 'apple']
6

#list constructor

In [6]:
list2 = list(("rohan" , 1 , 3 , "rohan" , "apple" ,"apple"))
print(type(list2))
print(list2)

<class 'list'>
['rohan', 1, 3, 'rohan', 'apple', 'apple']

#excess item in a list

In [7]:
list1 = ["rohan" , 1 , 3 , "rohan" , "apple" ,"apple"]
print(list1[1])

1

In [8]:
list1 = ["rohan" , 1 , 3 , "rohan" , "apple" ,"apple"]
print(list1[-1])

apple

#range of indexes

In [9]:
list1 = ["rohan" , 1 , 3 , "rohan" , "apple" ,"apple"]
print(list1[2:5])

[3, 'rohan', 'apple']

In [10]:
list1 = ["rohan" , 1 , 3 , "rohan" , "apple" ,"apple"]
print(list1[-4:-1])

[3, 'rohan', 'apple']

#check if item exists

In [11]:
list1 = ["rohan" , 1 , 3 , "rohan" , "apple" ,"apple"]
if "apple" in list1:
    print("Yes")

Yes

#Change list item

In [12]:
list1 = ["rohan" , 1 , 3 , "rohan" , "apple" ,"apple"]
list1[0] = "ram"
print(list1)

['ram', 1, 3, 'rohan', 'apple', 'apple']

In [15]:
list1 = ["rohan" , 1 , 3 , "rohan" , "apple" ,"apple"]
list1[1:3] = ["aman" , "rahul"]
print(list1)

['rohan', 'aman', 'rahul', 'rohan', 'apple', 'apple']

In [16]:
list1 = ["rohan" , 1 , 3 , "rohan" , "apple" ,"apple"]
list1[1:3] = ["aman" , "rahul" , "h" , "a"]
print(list1)

['rohan', 'aman', 'rahul', 'h', 'a', 'rohan', 'apple', 'apple']

#insert

In [17]:
list1 = ["rohan" , 1 , 3 , "rohan" , "apple" ,"apple"]
list1.insert(2 , "hello")
print(list1)

['rohan', 1, 'hello', 3, 'rohan', 'apple', 'apple']

#append

In [18]:
list1 = ["rohan" , 1 , 3 , "rohan" , "apple" ,"apple"]
list1.append("world")
print(list1)

['rohan', 1, 3, 'rohan', 'apple', 'apple', 'world']

#extend list

In [20]:
list1 = ["rohan" , 1 , 3 , "rohan" , "apple" ,"apple"]
list2 = ["hello" , 2 , 4 , "hello" , "banana" ,"banana"]
list1.extend(list2)
print(list1)

['rohan', 1, 3, 'rohan', 'apple', 'apple', 'hello', 2, 4, 'hello', 'banana', 'banana']

#remove

In [21]:
list1 = ["rohan" , 1 , 3 , "rohan" , "apple" ,"apple"]
list1.remove("apple")
print(list1)

['rohan', 1, 3, 'rohan', 'apple']

In [22]:
list1 = ["rohan" , 1 , 3 , "rohan" , "apple" ,"apple"]
list1.pop(1)
print(list1)

['rohan', 3, 'rohan', 'apple', 'apple']

In [24]:
list1 = ["rohan" , 1 , 3 , "rohan" , "apple" ,"apple"]
list1.pop()
print(list1)

['rohan', 1, 3, 'rohan', 'apple']

The code above assigns values to two variables: <code>a</code> (an integer) and <code>b</code> (a string).  
It then prints the type of each variable and the length of the string <code>b</code>.  
- <code>type(a)</code> shows that <code>a</code> is an integer.  
- <code>type(b)</code> shows that <code>b</code> is a string.  
- <code>len(b)</code> outputs the number of characters in <code>b</code>, which is 2.

print("Hello, World!")
a=5
b="10"
print(type(a))
print(type(b))
print(len(b))